@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme--background: white;
    --text-main--font-family: var(--font--primary-family);
    --theme--text: white;
    --text-main--font-size: var(--size--4);
    --text-main--line-height: var(--line-height--1-3em);
    --text-main--letter-spacing: var(--letter-spacing--0em);
    --h1--font-family: var(--all-headings--heading-font-family);
    --h1--font-size: var(--size--11);
    --h1--line-height: var(--all-headings--heading-line-height);
    --h1--letter-spacing: var(--all-headings--heading-letter-spacing);
    --h2--font-family: var(--all-headings--heading-font-family);
    --h2--font-size: var(--size--10);
    --h2--line-height: var(--all-headings--heading-line-height);
    --h3--font-family: var(--all-headings--heading-font-family);
    --h3--font-size: var(--size--8);
    --h3--line-height: var(--all-headings--heading-line-height);
    --h4--font-family: var(--all-headings--heading-font-family);
    --h4--font-size: var(--size--6);
    --h4--line-height: var(--all-headings--heading-line-height);
    --size--5: 1.25rem;
    --size--1: .25rem;
    --size--8: 2rem;
    --size--2: .5rem;
    --size--4: 1rem;
    --brand--purple: #8d52da;
    --text-large--font-family: var(--font--primary-family);
    --text-large--font-size: var(--size--4-5);
    --text-large--line-height: var(--line-height--1-3em);
    --text-large--letter-spacing: var(--letter-spacing--0em);
    --display--font-family: var(--all-headings--heading-font-family);
    --display--font-size: var(--size--14);
    --display--line-height: var(--all-headings--heading-line-height);
    --display--letter-spacing: var(--all-headings--heading-letter-spacing);
    --h2--letter-spacing: var(--all-headings--heading-letter-spacing);
    --h3--letter-spacing: var(--all-headings--heading-letter-spacing);
    --h4--letter-spacing: var(--letter-spacing--0em);
    --h5--font-family: var(--all-headings--heading-font-family);
    --h5--font-size: var(--size--5);
    --h5--line-height: var(--all-headings--heading-line-height);
    --h5--letter-spacing: var(--letter-spacing--0em);
    --h6--font-family: var(--all-headings--heading-font-family);
    --h6--font-size: var(--size--4-5);
    --h6--line-height: var(--all-headings--heading-line-height);
    --h6--letter-spacing: var(--letter-spacing--0em);
    --space--4: var(--size--4);
    --border-width--0-5: 2px;
    --outline--outline-3: var(--surface--surface-3);
    --radius--rounded-4xl: 2rem;
    --theme--border\<deleted\|variable-375c0552-4fe6-af3e-8135-4c691ee51697\>: white;
    --size--3: .75rem;
    --radius--rounded-sm: .125rem;
    --line-height--1em: 1em;
    --space--2: var(--size--2);
    --text-small--font-size: var(--size--3-5);
    --swatch--transparent: #fff0;
    --radius--rounded-full: 100vw;
    --size--14: 3.5rem;
    --surface--surface-2: #26202b;
    --surface--on-surface-3: #8f8f8f;
    --swatch--brand: var(--brand--yellow);
    --button--border: white;
    --button--background: white;
    --button--text: white;
    --button--border-hover: white;
    --button--background-hover: white;
    --button--text-hover: white;
    --button--border-focused: white;
    --size--20: 5rem;
    --size--12: 3rem;
    --padding-vertical--28: var(--size--28);
    --padding-horizontal--main: var(--size--20);
    --padding-vertical--none: var(--size--0);
    --text-small--font-family: var(--font--primary-family);
    --text-small--line-height: var(--line-height--1-3em);
    --text-small--letter-spacing: var(--letter-spacing--0em);
    --padding-vertical--20: var(--size--20);
    --padding-vertical--32: var(--size--32);
    --size--32: 8rem;
    --space--12: var(--size--12);
    --size--64: 16rem;
    --size--96: 24rem;
    --size--md: 28rem;
    --size--80: 20rem;
    --size--6: 1.5rem;
    --space--8: var(--size--8);
    --size--0: 0rem;
    --space--16: var(--size--16);
    --grid-gap--main\<deleted\|variable-19914bb2-08fa-8b60-b710-6beb999f4c42\>: var(--size--8);
    --brand--orange: #ff6b2f;
    --brand--light-blue: #9af;
    --brand--light-purple: #cca6ff;
    --brand--white: white;
    --svg-stroke-width--main: var(--size--0-5);
    --swatch--tertiary-2: var(--surface--surface-3);
    --surface--on-surface-1: #e0e0e0;
    --size--16: 4rem;
    --surface--surface-3: #2c2532;
    --surface--surface-5: #382e40;
    --swatch--on-tertiary-1: var(--brand--light-purple);
    --space--6: var(--size--6);
    --size--36: 9rem;
    --padding-vertical--6: var(--size--6);
    --padding-vertical--40: var(--size--40);
    --size--40: 10rem;
    --size--28: 7rem;
    --space--20: var(--size--20);
    --size--48: 12rem;
    --size--10: 2.5rem;
    --size--0-5: .125rem;
    --size--1-5: .375rem;
    --size--2-5: .625rem;
    --size--3-5: .875rem;
    --size--7: 1.75rem;
    --size--9: 2.25rem;
    --size--11: 2.75rem;
    --size--24: 6rem;
    --brand--light-green: #9bca75;
    --space--28: var(--size--28);
    --border-width--0-75: 3px;
    --space--3: var(--size--3);
    --font--secondary-family: "Midnight Sans Rd 48 Pro", sans-serif;
    --size--56: 14rem;
    --swatch--dark: #141414;
    --swatch--on-secondary: #f8f2ff;
    --radius--rounded-2xl: 1rem;
    --size--60: 15rem;
    --max-width--main: 90rem;
    --surface--on-surface-2: #c4c4c4;
    --size--52: 13rem;
    --swatch--tertiary-1: #26202b;
    --font--primary-family: Inter, sans-serif;
    --radius--rounded-7xl: 4rem;
    --swatch--dark-50: #14141480;
    --size--3xl: 48rem;
    --brand--light-orange: #ff9a59;
    --border-width--1: 4px;
    --radius--rounded-3xl-0-5: 1.375rem;
    --size--44: 11rem;
    --outline--outline-1: var(--surface--surface-1);
    --outline--outline-2: var(--surface--surface-2);
    --surface--surface-1: #211c25;
    --surface--surface-4: #32293a;
    --surface--surface-disabled: dimgrey;
    --surface--on-surface-disabled: dimgrey;
    --swatch--on-primary: var(--brand--black);
    --swatch--secondary: var(--brand--purple);
    --swatch--tertiary-3: var(--surface--surface-5);
    --swatch--on-tertiary-2: var(--surface--on-surface-1);
    --swatch--on-tertiary-3: #a6a6a6;
    --swatch--dark-secondary: var(--surface--surface-1);
    --swatch--light: var(--surface--on-surface-1);
    --swatch--light-secondary: var(--surface--on-surface-2);
    --swatch--brand-text: var(--swatch--on-primary);
    --swatch--brand-hover: #cee94b;
    --swatch--brand-hover-dark: #242418;
    --swatch--tertiary-hover: #332a3c;
    --theme--border: white;
    --max-width--none: 100vw;
    --radius--rounded: .25rem;
    --radius--rounded-md: .375rem;
    --radius--rounded-lg: .5rem;
    --radius--rounded-xl: .75rem;
    --radius--rounded-3xl: 1.5rem;
    --radius--rounded-4xl-0-5: 1.875rem;
    --radius--rounded-4xl-1: 1.75rem;
    --radius--rounded-4xl-1-5: 1.625rem;
    --radius--rounded-5xl: 2.5rem;
    --radius--rounded-5xl-0-5: 2.375rem;
    --radius--rounded-5xl-1: 2.25rem;
    --radius--rounded-5xl-1-5: 2.125rem;
    --radius--rounded-6xl: 3rem;
    --radius--rounded-6xl-0-5: 2.875rem;
    --radius--rounded-6xl-1: 2.75rem;
    --radius--rounded-6xl-1-5: 2.625rem;
    --radius--rounded-7xl-0-5: 3.875rem;
    --radius--rounded-7xl-1: 3.75rem;
    --radius--rounded-7xl-1-5: 3.625rem;
    --radius--rounded-none: var(--size--0);
    --radius--rounded-3xl-1: 1.25rem;
    --radius--rounded-3xl-1-5: 1.125rem;
    --radius--rounded-xl-0-5: .625rem;
    --radius--rounded-xl-1: .5rem;
    --radius--rounded-xl-1-5: .375rem;
    --radius--rounded-2xl-0-5: .875rem;
    --radius--rounded-2xl-1: .75rem;
    --radius--rounded-2xl-1-5: .625rem;
    --svg-stroke-width--large: var(--size--1);
    --all-headings--heading-font-family: var(--font--secondary-family);
    --all-headings--heading-font-weight: var(--font--secondary-black);
    --all-headings--heading-line-height: var(--line-height--1-1em);
    --all-headings--heading-letter-spacing: var(--letter-spacing--0em);
    --all-headings--heading-text-transform: var(--text-transform--uppercase);
    --display--font-weight: var(--all-headings--heading-font-weight);
    --display--text-transform: var(--all-headings--heading-text-transform);
    --h1--font-weight: var(--all-headings--heading-font-weight);
    --h1--text-transform: var(--all-headings--heading-text-transform);
    --h2--font-weight: var(--all-headings--heading-font-weight);
    --h2--text-transform: var(--all-headings--heading-text-transform);
    --h3--font-weight: var(--all-headings--heading-font-weight);
    --h3--text-transform: var(--all-headings--heading-text-transform);
    --h4--font-weight: var(--all-headings--heading-font-weight);
    --h4--text-transform: var(--all-headings--heading-text-transform);
    --h5--font-weight: var(--all-headings--heading-font-weight);
    --h5--text-transform: var(--all-headings--heading-text-transform);
    --h6--font-weight: var(--all-headings--heading-font-weight);
    --h6--text-transform: var(--all-headings--heading-text-transform);
    --text-large--font-weight: var(--font--primary-regular);
    --text-large--text-transform: var(--text-transform--inherit);
    --text-main--font-weight: var(--font--primary-regular);
    --text-main--text-transform: var(--text-transform--none);
    --text-small--font-weight: var(--font--primary-regular);
    --text-small--text-transform: var(--text-transform--inherit);
    --accessible-components--dark-grey: #9b9b9b;
    --font--primary-regular: var(--font-weight--400);
    --font--primary-medium: var(--font-weight--500);
    --font--primary-bold: var(--font-weight--700);
    --font--secondary-black: var(--font-weight--900);
    --font-weight--inherit: 0px;
    --font-weight--100: 0px;
    --font-weight--200: 0px;
    --font-weight--300: 0px;
    --font-weight--400: 0px;
    --font-weight--500: 0px;
    --font-weight--600: 0px;
    --font-weight--700: 0px;
    --font-weight--800: 0px;
    --font-weight--900: 0px;
    --letter-spacing--0em: 0em;
    --line-height--1-5em: 1.5em;
    --line-height--1-3em: 1.3em;
    --line-height--1-1em: 1.1em;
    --size--4-5: 1.125rem;
    --size--66: 17rem;
    --size--lg: 32rem;
    --size--xl: 36rem;
    --size--2xl: 42rem;
    --size--4xl: 56rem;
    --size--5xl: 64rem;
    --size--6xl: 72rem;
    --size--7xl: 80rem;
    --size--xs: 20rem;
    --size--sm: 24rem;
    --text-transform--inherit: 0px;
    --text-transform--none: 0px;
    --text-transform--uppercase: 0px;
    --text-transform--capitalize: 0px;
    --text-transform--lowercase: 0px;
}

[data-color="purple"] {
    color: var(--brand--purple);
}

.u-height-80, .u-height-70 {
    height: 80%;
}

.background_item {
    z-index: -2;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.u-vflex-center-bottom {
    flex-flow: column;
    place-content: center flex-end;
    align-items: center;
    display: flex;
}

.btn_top_cutout {
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 90vw;
    display: flex;
    position: absolute;
    bottom: 45%;
}